.op1 {
  width: 38%;
  height: 5px;
  display: inline-block;
  text-align: left;
  padding: 5vw 0vw 5vw 0vw;
  min-width:40vw;
  border: 1px solid black;
}

.op2 {
  width: 38%;
  display: inline-block;
  margin-right: 0vw;
  text-align: right;
  padding: 5vw 0vw 5vw 0vw;
  min-width:40vw;
  border: 1px solid black;
}
