<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Tec Sacadas Manager</span>

      <button mat-button (click)="logout()">Sair</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>face</mat-icon>
        <span>Conta</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Configurações</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications</mat-icon>
        <span>Notificações</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
