<app-header></app-header>

<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Relatórios</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="reportForm">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
            <input matInput
                   placeholder="Mês"
                   name="month"
                   class="form-control"
                   formControlName="month"
                   required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput
                     placeholder="Ano"
                     type="year"
                     name="year"
                     class="form-control"
                     formControlName="year"
                     required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="gerar()">Gerar</button>
  </mat-card-actions>
</mat-card>

<app-file-upload requiredFileType="image/png"></app-file-upload>



